.hide {
    display: none;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 800px;
    max-width: 80%;
    border-radius: 8px;
    padding: 10px;
    /* box-shadow: 0 0 10px 2px; */
}

.btn-grid {
    display: grid;
    /* grid-template-columns: repeat; */
}

.btn {
    background-color: purple;
    padding: 5px;
    margin: 5px;
    color: white;
    text-align: left;
}